.margin-top {
    margin-top: 16px;
    text-align: left;
}

.search-query {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/750px-Search_Icon.svg.png) no-repeat -38px 9px
}

.large-font {
    font-size: large;
}

.bottom-margin {
    margin-bottom: 1px;
}

.largest-font {
    font-size: 45px;
}

.col-flex {
    flex: 0 0 0;
}

.top-margin {
    margin-top: 5px;
}

ngx-charts-pie-chart {
    height: 200px;
    transform: rotate(-90deg);
}

.profile-size {
    height: 39px;
    width: 39px;
    border-radius: 20px;
    margin-left: -8px;
    margin-top: 2px;
}

.card-size {
    color: #858e9d;
    font-size: xx-large;
    margin-left: 12px;
    margin-top: 5px;
}

.nav-item {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    list-style-type: none;
    width: 195px;
    margin-top: 15px;
    /* Position the sub-menu below the nav item */
    left: 0;
    background-color: #fff;
    /* Customize the background color as needed */
    /* border: 1px solid #ccc; */
    /* Add a border for styling */
    z-index: 1;
    /* Ensure the sub-menu appears above other content */
}

.nav-item:hover .sub-menu {
    display: block;
    border-color: chocolate;
    
    /* Show the sub-menu on hover */
}
.nav-jobs:hover {
    border-bottom: 5px solid #ff0000;
}

li{
    margin-bottom: 10px;
}
 
.margin-top{
    margin-top: 1px;
}

.search-icon{
    margin-left: 169px;
    position: absolute;
    font-size: 24px;
    margin-top: 2px;
    background-color: blue;
    color: white;
}
.search-container {
    width: 35px; 
    height: 35px; 
    background-color: #007bff; /* Set the background color */
    border-radius: 50%; /* Make it circular by setting the border-radius to 50% */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Add a cursor pointer to indicate interactivity (optional) */
  }

 .load-button{
    border: solid;
    border-color: blue;
    color: blue;
    border-radius: 26px;
    text-align: center;
    inline-size: auto;
    margin-left: 368px;
    padding: 7px;
 }
 li::marker {
    color: white;
  }
  
  body{
    background: #1F2428;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    box-sizing : border-box;
    height: 100vh;
    padding: 30px;
  }
  
  .margin{
      margin: 25px;
  }
  
  .semi-donut{
    --percentage: 0;
    --fill: #ff0;
    width: 300px;
    height: 150px;
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
    color: var(--fill);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing : border-box;
    &:after{
      content: '';
      width: 300px;
      height: 300px;
      border:20px solid;
      border-color : rgba(16, 199, 71, 0.15) rgba(0,0,0,0.15) var(--fill) var(--fill);
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: 0;
      box-sizing : border-box;
      transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
      animation : fillAnimation 1s ease-in;
    }
  }

  .fixed-header{
        position: sticky; /* Fix the position of the header */
        top: 0; /* Position it at the top of the viewport */
        left: 0; /* Position it at the left edge of the viewport */
        /* width: 100%; Make it span the full width of the viewport */
        background-color: white; /* Customize the background color */
        color:black; /* Customize the text color */
        z-index: 1000; /* Set a high z-index to ensure it's above other content */
      }
      
  