<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>     
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasExample1" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>        
<router-outlet></router-outlet>
<div class="fixed-header" style="margin-left: 90px; margin-right: 90px; margin-top: 16px;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="https://static.naukimg.com/s/4/100/i/naukri_Logo.png" alt="naukari.com" 
            (click)="navigateToHome()">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" style="margin-left: 65px; font-size: 22px; " (click)="navigateToJobs()">
              <span class="nav-jobs">Jobs</span>
            </a>
            <ul class="sub-menu">
              <li><a>Recommended jobs</a></li>
              <li><a>Jobs from recruiters</a></li>
              <li><a>Jobs from alerts</a></li>
              <li><a>Application status</a></li>
              <li><a>Saved jobs</a></li>
              <!-- Add more sub-items as needed -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" style="margin-left: 26px; font-size: 22px;">
              <span class="nav-jobs">Companies</span>
            </a>
            <ul class="sub-menu">
              <div class="container text-left" style="width: 581px; background: white;">
                <div class="row">
                  <div class="col-4">
                    <li><a><strong>Explore categories</strong></a></li>
                    <li><a>Unicorn</a></li>
                    <li><a>MNC</a></li>
                    <li><a>Startup</a></li>
                    <li><a>Product based</a></li>
                    <li><a>Internet</a></li>
                  </div>

                  <div class="col-4">
                    <li><a><strong>Explore collections</strong></a></li>
                    <li><a>Top companies</a></li>
                    <li><a>IT companies</a></li>
                    <li><a>Fintech companies</a></li>
                    <li><a>Sponsored companies</a></li>
                    <li><a>Featured companies</a></li>
                  </div>
                  <div class="col-4">
                    <li><a><strong>Research companies</strong></a></li>
                    <li><a>Interview questions</a></li>
                    <li><a>Company salaries</a></li>
                    <li><a>Company reviews</a></li>
                    <li><a>Salary calculator</a></li>
                  </div>
                </div>
              </div>

              <!-- Add more sub-items as needed -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" style="margin-left: 40px; font-size: 22px; ">
              <span class="nav-jobs">Services</span>
            </a>
            <ul class="sub-menu">
              <li><a>Recommended jobs</a></li>
              <li><a>Jobs from recruiters</a></li>
              <li><a>Jobs from alerts</a></li>
              <li><a>Application status</a></li>
              <li><a>Saved jobs</a></li>
              <!-- Add more sub-items as needed -->
            </ul>
          </li>

        </ul>
        <form class="d-flex" role="search" style="margin-right: 352px;">
          <input class="form-control me-2 search-query " type="search" placeholder="Search jobs here"
            aria-label="Search" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample1" aria-controls="offcanvasExample1">
          <i class="fa fa-search search-icon search-container"></i>
        </form>
      </div>
    </div>
    <div>
      <li class="nav-item">
        <a class="nav-link" style="margin-left: 26px; font-size: 22px;" 
        (click)="navigateToJobs()"><i class="fa fa-bell-o "
            style="color: #717884;font-size: 30px;"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          style="margin-top: 17px;">
            5
          </span></a>
        <ul class="sub-menu" style="margin-left: -55px;">
          <li style="height: 44px;width: -1px;font-size: 18px;"><a>Recommended jobs</a></li>
          <li style="height: 44px;width: -1px;font-size: 18px;"><a>Application status</a></li>
          <li style="height: 44px;width: -1px;font-size: 18px;"><a>Jobs from recruiters</a></li>
          <li style="height: 44px;width: -1px;font-size: 18px;"><a>Recruiter searches</a></li>
          <!-- Add more sub-items as needed -->
        </ul>
      </li>
    </div>&nbsp;&nbsp;&nbsp;
    <div class="card" style="border-radius: 48px; height: 46px;width: 114px;">
      <div class="row">
        <div class="col-6">
          <i class="fa fa-bars card-size"></i>
        </div>
        <div class="col-6">
          <img class="profile-size" 
          src="https://jooinn.com/images/close-up-portrait-of-a-beautiful-girl-7.jpg"
          alt="profile"
          data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            2
          </span>
          <!-- <button class="btn btn-primary" type="button">
            Button with data-bs-target
          </button> -->

        </div>
      </div>
    </div>

  </nav>
</div>
<div style="margin-left: 95px; margin-top: 36px;">
  <h4>Profile performance</h4>
  <p>Summary of how your profile performed in searches by the recruiter</p>
</div>
<div class="container" style="margin-right: 180px;">
  <div class="row">
    <div class="col-8">
      <div class="card" style="margin-bottom: 22px;">
        <div class="card-body">
          <div class="row" style="margin-bottom: -17px;">
            <div class="col-4">
              <div class="row">
                <div class="col-6 col-flex">
                  <h5 class="card-title largest-font">3245</h5>
                </div>
                <div class="col-6">
                  <p class="card-text top-margin">Search appearances</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-6 col-flex">
                  <h5 class="card-title largest-font">125</h5>
                </div>
                <div class="col-6">
                  <p class="card-text top-margin">Recruiter actions</p>
                </div>
              </div>
            </div>

            <div class="col-4" style="margin-top: 30px;">
              Summary of last 90 days
            </div>

          </div>
        </div>
        <hr>
        <div style="margin-left: 16px;">
          <p class="bottom-margin"><span style="font-weight: 600;">3X</span> more chances of callback. <span
              style="color: blue;font-weight: 600;" (click)="navigateToPaidServices()">Click here</span></p>
          <p style="font-weight: lighter;"> Paid Services</p>
        </div>
      </div>
      <div class="card margin-top" style="margin-bottom: 22px;">
        <div class="card-body">
          <h5 class="card-title">240 Search appearances in last <span style="color: blue;font-weight: 600;">7 Days
            </span></h5>
          <p style="margin-bottom: -13px;" class="card-text"><span style="color: red; font-weight: 600;">16%</span>
            since last week</p>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div>
                <h5>Top keywords recruiters searched you for</h5>
                <p class="large-font bottom-margin" style="margin-top: 20px;">Angular</p>
                <p style="font-weight: lighter;">20 times</p>
                <p class="large-font bottom-margin">Javascript</p>
                <p style="font-weight: lighter;">20 times</p>
                <p class="large-font bottom-margin">HTML</p>
                <p style="font-weight: lighter;">18 times</p>
                <p class="large-font bottom-margin">CSS</p>
                <p style="font-weight: lighter;">10 times</p>
              </div>
            </div>
            <div class="col-6 " style="-webkit-box-orient: vertical;">
              <app-line-chart></app-line-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="card margin-top">
        <div class="card-body">
          <h5 class="card-title">188 Recruiter actions on your profile</h5>
          <p class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-5 ">
            All actions(190)
          </p>&nbsp;&nbsp;
          <p class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-5 ">
            Naukri Profile Viewed(74)
          </p>&nbsp;&nbsp;
          <p class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-5 ">
            Contact Viewed(29)
          </p>&nbsp;&nbsp;
          <p class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-5 ">
            Resume Downloaded(35)
          </p>&nbsp;&nbsp;
          <p class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-5 ">
            Contacted by Email(111)
          </p>&nbsp;&nbsp;
          <p class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-5 ">
            Profile Bookmarked(10)
          </p>

          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://static.naukimg.com/s/7/105/i/no-avatar.9ab2c8c1.png" class="card-img-top" alt="..."
                  style="height: 44px;width: 58px;margin: 20px;">
                <div class="card-body">
                  <h5 class="card-title">Ranjana</h5>
                  <p class="card-text">Recruitment Consultant at Lib Cap Infotech Solutions</p>
                  <p>Delhi</p>
                  <p>Not Specified</p>
                  <hr>
                  <p style="color: limegreen;">Contacted by Email</p>
                  <p>3 days ago</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://static.naukimg.com/s/7/105/i/no-avatar.9ab2c8c1.png" class="card-img-top" alt="..."
                  style="height: 44px;width: 58px;margin: 20px;">
                <div class="card-body">
                  <h5 class="card-title">Suman Chitkara</h5>
                  <p class="card-text">Assistant Manager at ITC Infotech company of bangalore</p>
                  <p>Gurgaon</p>
                  <p>Not Specified</p>
                  <hr>
                  <p style="color: limegreen;">Contacted by Email</p>
                  <p>3 days ago</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://static.naukimg.com/s/7/105/i/no-avatar.9ab2c8c1.png" class="card-img-top" alt="..."
                  style="height: 44px;width: 58px;margin: 20px;">
                <div class="card-body">
                  <h5 class="card-title">Raeesa Shaikh</h5>
                  <p class="card-text">Recruitment Specialist at Kinolve</p>
                  <p>Delhi</p>
                  <p>Not Specified</p>
                  <hr>
                  <p style="color: limegreen;">Contact Viewed</p>
                  <p>3 days ago</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://static.naukimg.com/s/7/105/i/no-avatar.9ab2c8c1.png" class="card-img-top" alt="..."
                  style="height: 44px;width: 58px;margin: 20px;">
                <div class="card-body">
                  <h5 class="card-title">HR recruiter</h5>
                  <p class="card-text">Quinnox</p>
                  <p>MUMBAI</p>
                  <p>Software Services</p>
                  <hr>
                  <p style="color: limegreen;">Naukri Profile Viewed</p>
                  <p>3 days ago</p>
                </div>
              </div>
            </div>
            <span class="load-button">Load more</span>
          </div>

        </div>
      </div>
      <div class="card" style="margin-top: 20px;">
        <div class="card-body">
          <h5 class="card-title">Do you find this information helpful?</h5>
          <p class="card-text" style="display: contents;">We will use this information to improve your experience</p>
          <i class="fa fa-thumbs-up" style="margin-left: 281px;font-size: 47px;"></i>
          <i class="fa fa-thumbs-down " style="margin-left: 26px;font-size: 47px;"></i>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="margin-bottom: 20px;">
        <h5 style="margin-left: 22px;margin-top: 22px;">Activity level</h5>
        <div>
          <div>
            <!-- <ngx-charts-pie-chart [results]="pieChartData" [doughnut]="true" [arcWidth]="0.1" [legend]="false"
            [labels]="false">
          </ngx-charts-pie-chart> -->
            <div class="semi-donut margin"
              style="--percentage : 100; --fill: #1be167 ;margin-left: 52px;font-size: xx-large;">
              HIGH
            </div>
          </div>
          <p style="text-align: center;">High activity level gets you more </p>
          <p style="text-align: center;">attention from recruiters</p>
          <hr>
          <p style="margin-left: 22px;"><strong>Tips to improve your activity level</strong></p>
          <div class="tip-1" style="margin-left: 20px;">
            <div class="row">
              <div class="col-1"><i class="fa fa-check-circle" style="color: seagreen;
                font-size: 18px;"></i></div>

              <div class="col-11">
                <div style="margin-bottom: 3px;">Regularly log into your naukri account</div>
                <div style="font-weight: 100;margin-bottom: 16px;">Login at least once every week</div>
              </div>
            </div>
            <div class="tip-2">
              <div class="row">
                <div class="col-1"><i class="fa fa-check-circle" style="color: seagreen;
              font-size: 18px;"></i></div>
                <div class="col-11">
                  <div style="margin-bottom: 3px;">Respond to recruiter mails & messages</div>
                  <div style="margin-bottom: 16px;"><a href="#"><strong style="margin-bottom: 16px;">Check
                        inbox</strong></a></div>
                </div>
              </div>
            </div>
            <div class="tip-3">
              <div class="row">
                <div class="col-1"><i class="fa fa-check-circle" style="color: seagreen;
            font-size: 18px;"></i></div>
                <div class="col-11">
                  <div style="margin-bottom: 3px;">Keep your naukri profile updated</div>
                  <div style="margin-bottom: 26px;"><a href="#"><Strong>Update profile</Strong></a></div>
                </div>
              </div>
            </div>
            <p><a href="#"><strong>Download naukri app</strong></a> to get instant notifications and job alerts with
              higher chances of getting hired.</p>
          </div>
        </div>
      </div>
      <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
          <h5 class="card-title">Profile completeness 100%</h5>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar" style="width: 100%;"></div>
          </div>
          <p class="card-text">You have a great possibility of getting noticed by the recruiters.</p>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Be a priority applicant</h5>
          <p class="card-text">Increase your chances of getting shortlisted for the applied jobs and receiving calls
            from recruiters.</p>
          Paid Service
          <hr>
          <h5 class="card-title">Feature your profile</h5>
          <p class="card-text">Get your profile marked as 'Featured' and get a higher rank when recruiters search for
            resumes.</p>
          Paid Service
          <hr>
          <h5 class="card-title">Missing out on jobs?</h5>
          <p class="card-text">Let Naukri experts send the best jobs for you on mail and sms within 30 minutes.</p>
          Paid Service
          <hr>
          <h5 class="card-title">Enhance your resume</h5>
          <p class="card-text">Get a Naukri Expert to craft a professional resume that highlights your achievements and
            experience.</p>
          Paid Service
          <hr>
          <div class="container">
            <div class="row">
              <div class="col-4">
                <img src="https://static.naukimg.com/s/7/123/i/FF-Logo.8e75327b.png" alt="naukari-forward"
                  style="height: 35px;" (click)="navigateToPaidServices()">
              </div>
              <div class="col-8" style="text-align: center; font-size: small;">
                Call 1800-572-5557 now! (Toll-free)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>